* {
    --border: rgb(3, 169, 244);
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
    --cardWidth: 80%;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;

    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    background-image:
            linear-gradient(130deg, transparent 0% 33%, var(--g1) 66%,
            var(--g2) 83.4%, var(--g3) 83.5%),
            linear-gradient(310deg, transparent 0% 33%, var(--g1) 66%,
            var(--g2) 83.4%, var(--g3) 83.5%);
    background-repeat: no-repeat , no-repeat;
    background-size: 100% 100%, 100% 100%;

}

.card {

    aspect-ratio: 1 /1.6;
    height: 80vh;
    max-height: 80vh;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background-image:

            linear-gradient(310deg, transparent 0% 33%, var(--g1) 66%,
            var(--g2) 83.5%, var(--g3) 100%);


    background-size:600%, 600%;
    background-position:0;
    background-repeat:no-repeat;

}
.card:hover {

}


.card:before {

    border-radius: 0;
    aspect-ratio: 1 / 1.6;
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;

    background-image:
    linear-gradient(
            130deg,
            transparent 0% 33%,
            var(--g1) 66%,
            var(--g2) 83.5%,
            var(--g3) 100%);
    background-position:0;
    background-repeat:no-repeat;
    background-size:300% 300%;
    z-index: -1;

    content:"";
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}


.card:hover:before{
    animation-name: in;
    border-radius: 10px/16px;
    position: absolute;
    background-position: 100% 100%;
    transform: scale(1.1,1.0625);
    /*transform: scale(1.1,1.0625);*/
    transition: background-position 2s ease, scale 2s ease;

}


.card:after {
    border-radius: 0;
    aspect-ratio: 1 / 1.6;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    align-items: stretch;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: auto;
    text-align: center;
    left: auto;
    content:"";
    color: #eee;
    z-index: 1;

}


.card-content {
    box-shadow: 0 0 1vh 0.5vh dodgerblue;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 1vh 0.8vh 0 #000;
    justify-content: center;
    height: 80vh;
    align-items: center;
    font-size: 7vw;
    margin: 0;
    padding: 0;

}
.card-content:hover {
    box-shadow: 0 0 1vh 0.5vh yellow;
}
h1 {

    rotate: 3deg;
    font-size:14vh;
    margin: 0;
    padding: 1vh 10vh;
    background-color: var(--g3);
    background-position: 5vh 0;
    box-shadow: 0.1vh 0.1vh 2vh var(--g2),
                -0.1vh 0.1vh 2vh var(--g2),
                 0.1vh -0.1vh 2vh var(--g2),
                -0.1vh -0.1vh 2vh var(--g2);
}

h1:hover {
    rotate: -3deg;

    box-shadow: 0.1vh 0.1vh 2vh var(--g2),
    -0.1vh 0.1vh 2vh var(--g2),
    0.1vh -0.1vh 2vh var(--g2),
    -0.1vh -0.1vh 2vh var(--g2);
    background-color: var(--g1);
    transition: background-color 1.5s ease, box-shadow 2s ease, box-shadow 2s ease, line-height 2s ease, rotate 2s ease;
}

p{
    rotate: -3deg;
    line-height: 6vh;
    text-align: center;
    text-shadow: 0.3vh 0.3vh 0.3vh #000;
    font-size:4vh;
    margin: 0;
    padding: 1vh 2vh;
    margin-top: -20vh;
    background-color: var(--g1);
    background-position: 5vh 0;
    box-shadow: 0.8vh 0.8vh 0.2vh var(--g2),
    -0.8vh 0.8vh 0.2vh var(--g2),
    0.8vh -0.8vh 0.2vh var(--g2),
    -0.8vh -0.8vh 0.2vh var(--g2);
}

p:hover {
    line-height: 4vh;
    rotate: 3deg;
    background-color: var(--g3);
    box-shadow: 0.8vh 0.8vh 0.2vh var(--g1),
    -0.8vh 0.8vh 0.2vh var(--g1),
    0.8vh -0.8vh 0.2vh var(--g1),
    -0.8vh -0.8vh 0.2vh var(--g1);
    transition: background-color 1.5s ease, box-shadow 2s ease, line-height 2s ease, rotate 2s ease;
}

